[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
openpyxl = "*"
requests = "*"
greenlet = "*"
gevent = "*"

[dev-packages]

[requires]
python_version = "3.9"
